.moc/
.uic/
.obj/
.rcc/
Makefile
*.so
*.a
/plugins/
examples/qogon_api/qogon_api
examples/simple_greeter/simple_greeter
examples/modeswitcher/modeswitcher
examples/sbp/SBP.pb.cc
examples/sbp/SBP.pb.h
examples/sbp/libqsbp.prl
examples/nice_greeter/.qm
src/widgets/.qm
mkspecs
qogon.pc
qogonConfig.cmake
qogonConfigVersion.cmake
